/********** Base styles **********/
* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

#p1 {
    background-color: pink;
    position: relative;
    left: 200px;
    top: -165px;
    width: 100px;
    height: 30px;
}

#p2 {
    background-color: pink;
    position: relative;
    left: 200px;
    top: -165px;
    width: 100px;
    height: 30px;
}

#p3 {
    background-color: pink;
    position: relative;
    left: 200px;
    top: -165px;
    width: 100px;
    height: 30px;
}

p {
    border: 1px solid black;
    background-color: #A52A2A;
    width: 100%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
    background-color: gray;
}

.col {
    float: left;
    border: 1px solid black;
}

/********** Large devices only ********/
@media (min-width: 992px) {
.col-l-1-12 {
    width: 8.3333%;
}

.col-l-2-12 {
    width: 16.6666%;
}

.col-l-3-12 {
    width: 25%;
}

.col-l-4-12 {
    width: 33.3333%;
}

.col-l-5-12 {
    width: 41.3333%;
}

.col-l-6-12 {
    width: 50%;
}

.col-l-12-12 {
    width: 100%;
}
}

/********** Medium devices only **********/
@media (max-width: 992px) {
    .col-m-1-12 {
        width: 8.3333%;
    }

    .col-m-2-12 {
        width: 16.6666%;
    }

    .col-m-3-12 {
        width: 25%;
    }

    .col-m-4-12 {
        width: 33.3333%;
    }

    .col-m-5-12 {
        width: 41.3333%;
    }

    .col-m-6-12 {
        width: 50%;
    }

    .col-m-12-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-s-1-12 {
        width: 8.3333%;
    }

    .col-s-2-12 {
        width: 16.6666%;
    }

    .col-s-3-12 {
        width: 25%;
    }

    .col-s-4-12 {
        width: 33.3333%;
    }

    .col-s-5-12 {
        width: 41.3333%;
    }

    .col-s-6-12 {
        width: 50%;
    }

    .col-s-12-12 {
        width: 100%;
    }
}


